:host {
  .content-container {
    display: grid;
    grid-template-columns: 280px 200px 330px;
    grid-template-rows: 130px 110px 190px 40px;
    grid-gap: 10px;
    .route-view {
      grid-row: 1/5;
      height: 500px;
      .route {
        height: 468px;
        overflow-y: auto;
        padding: 0 20px;
      }
    }
    .car-view {
      grid-row: 1
    }
    .driver-view {
      grid-row: 2
    }
    .sec {
      >div {
        display: flex;
        margin: 5px;
      }
    }
    .label {
      font-weight: 700;
      margin-right: 3px;
      &:after {
        content: ": ";
      }
    }
  }
}
