:host {
  display: grid;
  grid-template-rows: auto 200px auto auto;
  grid-template-columns: auto 250px auto;
  height: 100vh;

  mat-card {
    grid-row: 2;
    grid-column: 2;
  }

  .register-link {
    grid-row: 3;
    grid-column: 2;
    justify-self: center;
  }
}
