<form class="example-form" (submit)="search(locationsControls)" novalidate [formGroup]="locationsControls">
  <mat-form-field class="example-full-width">
    <input matInput placeholder="Origin" formControlName="org" #orgSearch
           autocorrect="off" autocapitalize="off" spellcheck="off">
  </mat-form-field>

  <mat-form-field class="example-full-width">
    <input matInput placeholder="Destination" type="text" #dstSearch
           formControlName="dst" autocorrect="off" autocapitalize="off" spellcheck="off">
  </mat-form-field>
  <mat-form-field class="example-full-width">
    <input matInput placeholder="WayPoint" type="text" #wayPointSearch
           formControlName="add" autocorrect="off" autocapitalize="off" spellcheck="off">
  </mat-form-field>
  <button mat-raised-button color="primary" [disabled]="locationsControls.invalid">Search</button>
</form>
