.list-header {
  display: grid;
  grid-template-columns: auto 140px;
  padding-top: 0;
  padding-bottom: 0;
}

.elevated-list-item:not(.no-results) {
  height: 100px !important;
}
.no-results {
  text-align: center;
  width: 100%;
  font-size: 18px;
}

.item-container {
  font-size: 14px;
  width: 100%;
  display: grid;
  grid-template-columns: 2fr 4fr 140px 128px;
  grid-column-gap: 20px;
  .route {

  }
  .route-details {
    display: grid;
    grid-template: "cost seats" "depart depart";
    div {
      display: flex;
      align-items: center;
      .label {
        font-weight: 500;
      }
    }
    .departure-date {
      grid-area: depart;
    }
  }

}
