<mat-list class="example-container mat-elevation-z8" *ngIf="routes">
  <h3 mat-subheader class="list-header">
    <span>Routes for route: {{routeSearchParams.origin.label}} &rarr; {{routeSearchParams.destination.label}}</span>
    <span>
      <span>Sort by:</span>
      <button mat-icon-button *ngFor="let s of sortsTypes" (click)="sortBy = s.type"
              [disabled]="sortBy == s.type" [matTooltip]="s.tooltip">
        <mat-icon >{{s.icon}}</mat-icon>
      </button>
    </span>
  </h3>
  <mat-list-item mat-line class="elevated-list-item" *ngFor="let route of routes">
    <div class="item-container">
      <div class="driver-info">
        <div class="driver">{{route.driverName}}</div>
      </div>
      <div class="route">
        <div class="locations">
          <span *ngFor="let loc of route.locations; let last = last"
                [ngClass]="{'edge-loc': (loc == routeSearchParams.origin.locality || loc == routeSearchParams.destination.locality)}">
            {{loc}}
            <span *ngIf="!last">&rarr;</span>
          </span>
        </div>
      </div>
      <div class="route-details">
        <div class="cost" matTooltip="Cost per passenger">
          <mat-icon>attach_money</mat-icon>
          <div class="value">{{route.cost}}</div>
        </div>
        <div class="free-seats" matTooltip="Free seats">
          <mat-icon>people_outline</mat-icon>
          <div class="value">{{route.freeSeats}}</div>
        </div>
        <div class="departure-date" [matTooltip]="'Departure from ' + routeSearchParams.origin.locality">
          <mat-icon>flight_takeoff</mat-icon>
          <div class="value">{{route.departureDate |date: 'short'}}</div>
        </div>
      </div>
      <app-actions [routeSearchResult]="route" [routeSearchParams]="routeSearchParams"></app-actions>
    </div>
  </mat-list-item>
  <mat-list-item mat-line class="elevated-list-item" *ngIf="routes.length == 0">
    <div class="no-results">
      No route matching this search
    </div>
  </mat-list-item>
</mat-list>
