<mat-expansion-panel (opened)="fetchRequests()">
  <mat-expansion-panel-header>
    <mat-panel-title>
      <app-locations [locations]="route.locations"></app-locations>
    </mat-panel-title>
    <mat-panel-description>
      Departure: {{route.routeParts[0].origin.date | date: 'short'}}
    </mat-panel-description>
  </mat-expansion-panel-header>
    <app-route-request *ngFor="let req of requests; let i = index" [request]="req"
                       (onRejected)="removeRequest($event, i)"
                       (onAccept)="addToPassengers($event, i)"></app-route-request>
    <div *ngIf="requests && requests.length == 0" class="no-requests">
      No join requests for this route
    </div>
</mat-expansion-panel>
