<form class="example-form" (submit)="complete(basic, $event)" novalidate [formGroup]="basic">
  <mat-form-field class="full-width">
    <input matInput placeholder="First name" type="firstname" formControlName="firstName">
  </mat-form-field>
  <mat-form-field class="full-width">
    <input matInput placeholder="Last name" type="lastname" formControlName="lastName">
  </mat-form-field>
  <mat-form-field class="full-width">
    <input matInput placeholder="Phone number" type="phone" formControlName="phoneNumber">
  </mat-form-field>
  <mat-form-field class="full-width">
    <input matInput [matDatepicker]="dateOfBirth" placeholder="Date of birth"
           formControlName="dateOfBirth" [min]="dates.min" [max]="dates.max">
    <mat-datepicker-toggle matSuffix [for]="dateOfBirth"></mat-datepicker-toggle>
    <mat-datepicker #dateOfBirth [disabled]="false" startView="year"></mat-datepicker>
  </mat-form-field>
  <div class="sbt-container">
    <button mat-raised-button color="primary" [disabled]="basic.invalid || basic.pristine">Save</button>
  </div>
</form>
