<mat-list>
  <span *ngFor="let part of route.routeParts;let i = index">
    <app-small-card *ngIf="part?.origin?.location && part?.destination?.location">
      <div class="cost-container">
        <mat-card-title>
          <app-route-part [routePart]="part"></app-route-part>
        </mat-card-title>
        <div class="cost-info">
          <div class="distance">
            <div class="title">Distance</div>
            <div class="value">{{part.distance}} km</div>
          </div>
          <mat-form-field class="cost">
            <input matInput placeholder="Cost" type="number" class="example-right-align" [(ngModel)]="route.costs[i]">
            <span matPrefix>$&nbsp;</span>
          </mat-form-field>
        </div>
      </div>
    </app-small-card>
  </span>

</mat-list>
