
:host {
  display: grid;
  grid-template-rows: auto 200px auto auto;
  grid-template-columns: auto 250px auto;
  height: 100vh;
  mat-card {
    align-self: self-start;
    grid-row: 2;
    grid-column: 2;
    .example-form {
      min-width: 150px;
      max-width: 500px;
      width: 100%;
    }

    .example-full-width {
      width: 100%;
    }
  }

  .register-link {
    grid-row: 3;
    grid-column: 2;
    justify-self: center;
  }
}
