<mat-card>
  <form class="example-form" #form="ngForm" (submit)="loginUser()" name="login-form">
    <mat-form-field class="example-full-width">
      <input matInput placeholder="Login" [(ngModel)]="login" name="login">
    </mat-form-field>

    <mat-form-field class="example-full-width">
      <input matInput placeholder="Password" type="password" [(ngModel)]="password" name="password">
    </mat-form-field>
    <button mat-raised-button color="primary" >Sign in</button>
    <div (click)="loginUser()">click click click</div>
  </form>
</mat-card>
<div class="register-link">
  Do not have an account? <a routerLink="/register">Create</a>

  <button mat-raised-button color="primary" (click)="getUsers()">
    getUsers
  </button>
  <div *ngIf="users">
    <div *ngFor="let user of users">
      {{user.login}} {{user.password}}
    </div>
  </div>

</div>
