@import "../../../../styles";

:host {
  display: grid;
  grid-template: ". . ." ". form ." ". . .";
  height: $full-height;
  justify-items: center;
  align-items: baseline;
  mat-card {
    display: grid;
    width: 525px;
    grid-column-gap: 30px;
    grid-template-columns: 175px auto;
    grid-area: form;

    .options {
      grid-column: 1;
      display: grid;
      height: 100%;
      grid-template-rows: auto auto;
      app-parts {
        grid-row: 1;
      }
      button {
        justify-self: center;
        align-self: flex-end;
      }
      .no-cars-info {
        padding: 0 20px;
        font-size: 11px;
        text-align: justify;
        color: #a6a6a6;
      }
    }
    .modif-view {
      justify-self: flex-end;
      grid-column: 2;
    }
  }
}
