<agm-map [fitBounds]="bounds" [maxZoom]="zoom">
  <div *ngIf="route && (route.origin || route.destination)">
  <agm-marker *ngIf="singleLoc; else direction"
              [latitude]="singleLoc.latitude"
              [longitude]="singleLoc.longitude"></agm-marker>
  <ng-template #direction>
    <agm-directions *ngIf="directionsDisplay" [routeEventBus]="routeEventBus"
                    [directionsDisplay]="directionsDisplay" (onDistanceChange)="onDistanceChange.next($event)"></agm-directions>
  </ng-template>

  </div>
</agm-map>
