@import "../../../../styles";
:host {
  mat-list {
    width: 300px;
    mat-list-item {
      height: 36px;
      .icon {
        order: -1;
        &.start {
          transform: scale(0.5);
        }
      }
      &.first, &.last {
        @extend .elevated-list-item
      }
      &:not(.first):not(.last) {
        font-size: 12px;
        height: 24px;
        .icon {
          font-size: 26px;
          margin-left: -1px;
        }
      }
      .placeholder {
        color: #555555;
        font-size: 12px;
      }
    }
  }

}
