<mat-list dnd-sortable-container [sortableData]="snapshots">
  <mat-list-item *ngFor="let snap of snapshots; let i = index; let first = first; let last = last"
                 dnd-sortable [sortableIndex]="i" [ngClass]="{first: first, last: last}">
    <mat-icon *ngIf="first" class="icon start">panorama_fish_eye</mat-icon>
    <mat-icon *ngIf="!first && !last" class="icon">more_vert</mat-icon>
    <mat-icon *ngIf="last" class="icon">place</mat-icon>
    <span matLine *ngIf="snap; else placeholder" class="label"> {{snap.location.label}} </span>
    <ng-template #placeholder>
      <span matLine class="placeholder">
        <span *ngIf="first">Enter your origin</span>
        <span *ngIf="last">Enter your destination</span>
      </span>
    </ng-template>
  </mat-list-item>
</mat-list>
