@import "~@angular/material/prebuilt-themes/indigo-pink.css";

$full-height: calc(100vh - 64px);

html {
  font-family: Roboto, sans-serif;
  font-size: 12px;
}

body {
  padding: 0;
  margin: 0;
}

@mixin shadow {
  box-shadow: 0 3px 5px -1px rgba(0, 0, 0, .2),
  0 6px 10px 0 rgba(0, 0, 0, .14),
  0 1px 18px 0 rgba(0, 0, 0, .12);
}

.example-form {
  min-width: 150px;
  max-width: 500px;
  width: 100%;
}

.full-width {
  width: 100%;
}

@mixin minForm {
  .sbt-container {
    justify-content: flex-end;
    display: flex;
  }
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  display: none;
}

.elevated-list-item {
  margin: 1px 0;
  font-size: 14px;
  font-weight: 500;
  -webkit-box-shadow: 0 0 10px -4px rgba(117,117,117,0.98);
  -moz-box-shadow: 0 0 10px -4px rgba(117,117,117,0.98);
  box-shadow: 0 0 10px -4px rgba(117,117,117,0.98);
}
