@import "~@angular/material/prebuilt-themes/indigo-pink.css";

$full-height: calc(100vh - 64px);

html {
  font-family: Roboto, sans-serif;
  font-size: 12px;
}

body {
  padding: 0;
  margin: 0;
}

@mixin shadow {
  box-shadow: 0 3px 5px -1px rgba(0, 0, 0, .2),
  0 6px 10px 0 rgba(0, 0, 0, .14),
  0 1px 18px 0 rgba(0, 0, 0, .12);
}

.example-form {
  min-width: 150px;
  max-width: 500px;
  width: 100%;
}

.full-width {
  width: 100%;
}

@mixin minForm {
  .sbt-container {
    justify-content: flex-end;
    display: flex;
  }
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  display: none;
}

.elevated-list-item {
  margin: 1px 0;
  font-size: 14px !important;
  -webkit-box-shadow: 0 0 10px -4px rgba(117, 117, 117, 0.98);
  -moz-box-shadow: 0 0 10px -4px rgba(117, 117, 117, 0.98);
  box-shadow: 0 0 10px -4px rgba(117, 117, 117, 0.98);
}

.mat-dialog-title {
  display: grid !important;
  grid-template-columns: auto 24px;
  width: 100%;
  .close-button {
    cursor: pointer;
  }
}


@mixin search-wrapper {
  display: grid;
  padding: 5px;
  grid-template-rows: minmax(auto, 100px) 100px auto;
  grid-template-columns: auto minmax(700px, 900px) auto;
  grid-row-gap: 20px;
  .search-card {
    grid-column: 2;
    grid-row: 2;
    app-route-search /deep/{
      form {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr minmax(100px, 1fr);
        justify-items: center;
        align-items: flex-start;
      }
    }
  }
}
mat-expansion-panel-header /deep/ {
  .mat-expansion-panel-header {
    max-height: fit-content;
    min-height: 48px;
    height: auto;
  }
}
