:host {
  display: grid;
  grid-template-rows: 20px auto;
  grid-row-gap: 6px;
  .title {
    color: rgb(169, 169, 169);
    margin: 5px;
    font-size: 16px;
  }
  .content {
    display: block;
    height: fit-content;
  }
}
