:host {
  .home-container {
    display: grid;
    min-height: 80vh;
    grid-template-columns: auto 800px auto;
    grid-template-rows: 100px 300px auto;
    grid-gap: 10px;

    mat-card {
      grid-column: 2;
      grid-row: 2;
      display: grid;
      grid-template-rows: 1fr 2fr 1fr 1fr;
      app-creator /deep/ {
        grid-row: 2;
        .creator-form {
          display: grid;
          grid-gap: 10px;
          grid-template-columns: 2fr 2fr 2fr 1fr;
          justify-items: center;
          .sub-btn {
            align-self: center;
          }
        }
      }
      .search, .add-route, .mat-button {
        font-size: 20px;
        text-align: center;
        justify-self: center;
        align-self: center;
        //color: ;
      }
      .add-route {

      }
      .search {

      }
    }
  }
}

