:host {
  display: grid;
  padding: 5px;
  grid-template-rows: minmax(auto, 100px) 100px auto;
  grid-template-columns: auto minmax(700px, 900px) auto;
  grid-row-gap: 20px;
  .search-card {
    grid-column: 2;
    grid-row: 2;
    app-route-search /deep/{
      form {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr minmax(100px, 1fr);
        justify-items: center;
        align-items: flex-start;
      }
    }
  }
  app-routes-table {
    grid-column: 2;
    grid-row: 3;
  }
}
